@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 27% 92%;
    --foreground: 21 16% 30%;
    --card: 54 27% 92%;
    --card-foreground: 21 16% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 21 16% 30%;
    --primary: 20 25% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 21% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 21 42% 81%;
    --muted-foreground: 14 22% 44%;
    --accent: 21 42% 81%;
    --accent-foreground: 21 16% 30%;
    --destructive: 24 16% 10%;
    --destructive-foreground: 0 0% 100%;
    --border: 41 21% 65%;
    --input: 41 21% 65%;
    --ring: 20 25% 51%;
    --chart-1: 20 25% 51%;
    --chart-2: 14 22% 44%;
    --chart-3: 21 34% 65%;
    --chart-4: 41 21% 65%;
    --chart-5: 22 17% 55%;
    --radius: 0.5rem;
    --sidebar-background: 21 48% 83%;
    --sidebar-foreground: 21 16% 30%;
    --sidebar-primary: 20 25% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 21 34% 65%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 22 17% 55%;
    --sidebar-ring: 20 25% 51%;
  }
  .dark {
    --background: 203 47% 12%;
    --foreground: 335 44% 92%;
    --card: 205 33% 16%;
    --card-foreground: 335 44% 92%;
    --popover: 205 33% 16%;
    --popover-foreground: 335 44% 92%;
    --primary: 44 93% 82%;
    --primary-foreground: 203 47% 12%;
    --secondary: 347 52% 77%;
    --secondary-foreground: 203 47% 12%;
    --muted: 220 10% 16%;
    --muted-foreground: 347 52% 77%;
    --accent: 328 34% 63%;
    --accent-foreground: 335 44% 92%;
    --destructive: 326 74% 63%;
    --destructive-foreground: 203 47% 12%;
    --border: 207 33% 27%;
    --input: 204 31% 18%;
    --ring: 184 41% 52%;
    --chart-1: 184 41% 52%;
    --chart-2: 347 52% 77%;
    --chart-3: 328 34% 63%;
    --chart-4: 191 70% 26%;
    --chart-5: 220 10% 16%;
    --sidebar-background: 204 38% 11%;
    --sidebar-foreground: 215 14% 95%;
    --sidebar-primary: 326 83% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 329 84% 82%;
    --sidebar-accent-foreground: 222 24% 18%;
    --sidebar-border: 221 18% 26%;
    --sidebar-ring: 326 83% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
